.color {
  border: 1px solid black;
  display: inline-block;
  width: 40px;
  height: 40px;
}

#black {
  background-color: black;
}

#red {
  background-color: red;
}

#blue {
  background-color: blue;
}

#green {
  background-color: green;
}

#pixel-board {
  list-style: none;
}

.pixel {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

#clear-board {
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}
